{{block "authed" .}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You Are Already Authed</title>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div class="alreadyauthed-wrapper">
      <div class="alreadyauthed-message">
        <h1>You Are Already Authed</h1>
        <a href="/">Go Back To Home</a>
      </div>
    </div>
  </body>
</html>
{{end}}
