{{block "index" .}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Daksh Sangal</title>
  <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
</head>

<body>
  <div class="main-wrapper">
    <div class="app-wrapper">
      <nav>
        <a class="nav-heading" href="/">Daksh Sangal</a>
        <div class="nav-icons">
          <a href="blogs">blogs</a>
          <a href="projects.html">projects</a>
          <a href="https://github.com/Qu-Ack">o_o</a>
          <a href="https://www.linkedin.com/in/daksh-sangal-529b10243/">{in}</a>
        </div>
      </nav>
      <main>
        <div class="image-wrapper">
          <img src="../static/images/star.jpg" alt="stars" />
        </div>
        <div class="main-quote">
          "Tonight, the darkness holds me like a mother holds her child, each star a promise of freedom, each
          constellation a pathway to escape, and somewhere between moonbeams and midnight, my sorrows begin to float
          away
          into the cosmic void."
      </main>
      <footer>Photo By<a class="photo-credit"
          href="https://unsplash.com/@_nhanjay?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
          [Nhan
          Nguyen]</a></footer>
    </div>
  </div>
</body>

</html>
{{end}}