{{block "writeblog" .}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write Your Thoughts</title>
    <link rel="stylesheet" href="../static/css/index.css" />
    <script src="../static/js/writer.js" defer></script>
  </head>
  <body>
    <div class="options">
      <button class="bold-button">Bold</button>
      <button class="italics-button">Italics</button>
      <button class="code-button">Code</button>
      <button class="image-button">Image</button>
    </div>
    <div
      class="writer"
      contenteditable="true"
      aria-placeholder="write your content"
    >
      Write your contents here
    </div>
  </body>
</html>
{{end}}
